html,
body {
  height: 100%;
  margin: 0;

}
body {
  background: lavenderblush;
}
.container {
  height: 100%;
}

#container2 {
  background-color: lightcyan;
}

#main-container {
  margin: 2% auto;
  text-align: center;
}
#container-hire {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-image {
  width: 250px;
  border-radius: 50%;
}
.portfolio-wrap {
  display: flex;
}

.examples-img {
width: 30%;
flex-grow: 1;

}
.examples-link {
  color:white;
}
.contactsList {
  list-style: none;
}

#name {
  margin-top: 28px;
    color:#111179;
}
#datetime {
  float: right;
  color:#BABAE6;
  margin: 0;
  margin-right: 1%;
}
.hireme {
  margin: 0;
 
}
.menu {
  display: inline;
    color:#111179;
  cursor: pointer;
  padding: 15px;
}
.menu:hover , .skillsMenu:hover {
color:black;}
ul {
    background: lavender;
    padding: 15px;
    margin: 0;
}
.bio {
  width:50%;
  margin: 5% auto;
}
.skillsMenu {
  display: block;
  color:#111179;
  text-decoration: none;
  text-align: center;
  margin: 5%;
}

.profileimg {
  width: 250px;
  border-radius: 50%;
  text-align: center;
}

.decrement {
  background:red;
}
.increment {
    background: green;

}
.increment,
.decrement {
  border-radius: 50%;
  border: none;
  margin: 5px;
  color: white;
}