html,
body {
  height: 100%;
  margin: 0;

}
body {
  background: lavenderblush;
}

#container-1 {
  background-color: lightcyan;
}
#container,
#container-1,
#container-2 {
  text-align: center;
  background-attachment: fixed;
  height: 100%;

}
#container-hire {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hireme {
  margin: 0;
 
}
.menu {
  display: inline;
  cursor: pointer;
padding: 15px;
}
ul {
    background: lavender;
    padding: 15px;
    margin: 0;
}
.bio {
  width:50%;
  margin: 5% auto;
}
.skillsMenu {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 5%;
}
.profileimg {
  width: 250px;
  border-radius: 50%;
  text-align: center;
}
